<!DOCTYPE html>

<html lang="">
<head>
<title>DEALHOUSE</title>
<meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="lft/styles/layout.css" rel="stylesheet" type="text/css" media="all">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script type="text/javascript" src="../js/jssor.slider.mini.js"></script>

 <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/full-slider.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- read the discryption at last and also remove unused scripts from the css and java folder -->

<link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="../ideal-image-slider.css">
  <link rel="stylesheet" href="../themes/default/default.css">
  <style media="screen">
  #slider {
       margin:0 auto;
    width: 100%;
      }

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

</style>


<style type="text/css">
/* DEMO ONLY */
.container .demo{text-align:center;}
.container .demo div{padding:50px ;}
.container .demo div:nth-child(odd){color:#FFFFFF; background:#CCCCCC;}
.container .demo div:nth-child(even){color:#FFFFFF; background:#979797;}
@media screen and (max-width:900px){.container .demo div{margin-bottom:0;}}
/* DEMO ONLY */
</style>


<!--   <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> -->
</head>
<body id="top">



<!-- iudhisdjds -->





<!-- jduashud -->

<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <div class="fl_left">
      <ul>
        <li>user name info to br displayed here </li>
        <li>TRACK ITEMS</li>
      </ul>
    </div>
    <div class="fl_right">
      <ul>
        <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
        <li><a href="#">LOGIN</a></li>  
         <!--  login and signup on same page  -->
        <li><a href="#">DEALER LOGIN</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <div id="logo" class="fl_left">
      <h1><a href="index.html">DEALHOUSE</a></h1>
      <p>Be AWWesome.</p>
    </div>

  
        <div class="col-md-8">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="tell us waht you want " />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>


    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><strong>CART:</strong><br>
         </li>
        <li><strong>just the stuff </strong><br>
          </li>
      </ul>
    </div>
  </header>
  <div id="tcx"></div>
  <nav id="mainav" class="hoc clear" > 
    <ul class="clear">
      <li class="active"><a href="index.html">HOME</a></li>
      <li data-toggle="modal" data-target="#myModal3"><a href="#tcx">MEN</a>
        
      </li>
      <li data-toggle="modal" data-target="#myModal1"><a href="#tcx">WOMEN</a>
        
      </li>
      <li data-toggle="modal" data-target="#myModal1"><a href="#tcx">ELECTRONICS</a></li>
      <li data-toggle="modal" data-target="#myModal1"><a href="#tcx">DROP</a></li>
      <li data-toggle="modal" data-target="#myModal1"><a href="#tcx">VOTE</a></li>
      <li data-toggle="modal" data-target="#myModal1" ><a href="#tcx" >DISCUSSIONs</a></li>
    </ul>
  </nav>
</div>

<div class="wrapper bgded overlay" id="slider">
<!-- asyu gdu gaskyudg ai

upgraded slider working fine 

us gfkuH LFKH FHAILFHDIOAS -->


<!-- bhai pixel ristrictions use only 1366*450  slide show below like flipkart isse zada ki img use mat karna anubahv ko bol dena cut kare ko aur koi comment delete mat karna for Future referance   -->

 <img src="img/img6.jpg" alt="Slide 4" />
   <img src="img/img4.jpg" alt="Slide 1" />
  
    <img src="img/img.jpg" alt="Slide 1" />
   
    <img src="img/img2.jpg" alt="Slide 4" />
    <img src="img/img5.jpg" alt="Slide 4" />


  <script src="../ideal-image-slider.js"></script>
  <script>
  var slider = new IdealImageSlider.Slider('#slider');
  slider.start();
  </script>
  <!-- KJGASKUGDIUKHASIUFH ADSIUFH IUODSH FHDSILFUH




  ILADSUHFIHADS IUOFH IUDOSO -->
  <div id="pageintro" class="hoc clear"> 
    <article>
      <p>Pulvinar arcu praesent</p>
      <h3 class="heading"></h3>
      <p></p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="#">buy</a></li>
          <li><a class="btn inverse" href="#">??</a></li>
        </ul>
      </footer>
    </article>
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    
   
    <div class="clear" ></div>
  </main>
</div>


<div class="wrapper row2">
  <figure class="hoc container clear"> 
    
    <figcaption class="sectiontitle">
      <h6 class="heading">trending</h6>
      <p>yaha trending products aainge </p>
    </figcaption>
	
    <ul class="nospace group">
      <li class="one_quarter first" data-toggle="modal" data-target="#myModal3"><a href="#axv"><img src="images/demo/222x138.png" alt=""></a></li>
      <li class="one_quarter" data-toggle="modal" data-target="#myModal3"><a href="#axv"><img src="images/demo/222x138.png" alt=""></a></li>
      <li class="one_quarter" data-toggle="modal" data-target="#myModal3"><a href="#axv"><img src="images/demo/222x138.png" alt=""></a></li>
      <li class="one_quarter" data-toggle="modal" data-target="#myModal3"><a href="#axv"><img src="images/demo/222x138.png" alt=""></a></li>
    </ul>

<!--<p>choose kar kaunsa format zada sai lagega usmeinput kara dena yaha sirf images hongi direce atc ka option nai hoga like amazon </p>-->


<div id="axv"></div>
 <div class="content"> 
      <!-- ################################################################################################ -->
      <h2>images</h2>
      <!-- ################################################################################################ -->
      <div class="group btmspace-50 ">
        <div class="one_half first" data-toggle="modal" data-target="#myModal3"><img src="images/demo/images1.jpg" alt=""></div>
        <div class="one_half"  data-toggle="modal" data-target="#myModal3"><img src="images/demo/images1.jpg" alt=""></div>
      </div>
      <!-- ################################################################################################ -->
      <h2>From</h2>
      <!-- ################################################################################################ -->
      <div class="">
        <div class="one_quarter first" data-toggle="modal" data-target="#myModal3"><img src="images/demo/images.jpg" alt="">hello</div>
        <div class="one_quarter" data-toggle="modal" data-target="#myModal3"><img src="images/demo/images.jpg" alt=""></div>
        <div class="one_quarter" data-toggle="modal" data-target="#myModal3"><img src="images/demo/images.jpg" alt=""></div>
        <div class="one_quarter" data-toggle="modal" data-target="#myModal3"><img src="images/demo/images.jpg" alt=""></div>
      </div>
      <div class="group btmspace-50 demo">
        <div class="one_quarter first" data-toggle="modal" data-target="#myModal3"> </div>
        <div class="one_quarter" data-toggle="modal" data-target="#myModal3"></div>
        <div class="two_quarter" data-toggle="modal" data-target="#myModal3"></div>
      </div>
      <div class="group btmspace-50 demo">
        <div class="one_quarter first" data-toggle="modal" data-target="#myModal3"></div>
        <div class="three_quarter" data-toggle="modal" data-target="#myModal3"></div>
      </div>
      <!-- ################################################################################################ -->
      <h2>i REPEAT </h2>
      <!-- ################################################################################################ -->
      <div class="group btmspace-50 demo">
        <div class="one_third first" data-toggle="modal" data-target="#myModal3"> </div>
        <div class="one_third" data-toggle="modal" data-target="#myModal3"></div>
        <div class="one_third" data-toggle="modal" data-target="#myModal3"></div>
      </div>
      <div class="group demo">
        <div class="one_third first" data-toggle="modal" data-target="#myModal3"></div>
        <div class="two_third" data-toggle="modal" data-target="#myModal3"></div>
      </div>
      <!-- ################################################################################################ -->
    </div>


   <!-- <p>bai plz format ye hi rehne dena uper heading and neeche images all should be punched through database </p>-->


  </figure>
</div>



<div class="wrapper row2">
  <figure class="hoc container clear"> 
    
    <figcaption class="sectiontitle">
      <h6 class="heading">Voting </h6>
      <p></p>
    </figcaption>
    <ul class="nospace group">
      <li class="one_quarter first" data-toggle="modal" data-target="#myModal3" ><a href="#"><img src="images/demo/222x138.png" alt=""></a></li>
      <li class="one_quarter" data-toggle="modal" data-target="#myModal3"><a href="#"><img src="images/demo/222x138.png" alt=""></a></li>
      <li class="one_quarter" data-toggle="modal" data-target="#myModal3"><a href="#"><img src="images/demo/222x138.png" alt=""></a></li>
      <li class="one_quarter" data-toggle="modal" data-target="#myModal3"><a href="#"><img src="images/demo/222x138.png" alt=""></a></li>
    </ul>
  </figure
</div>

<div class="wrapper bgded overlay" style="background-image:url('images-4s/wf2.jpg'); background-attachment: fixed;">
  <section class="hoc container clear"> 
    <div class="sectiontitle">
      <h6 class="heading">LOOK HOT AND SEXY</h6>
      <p>With our Acessories </p>
    </div>
    <ul class="nospace group center">
      <li class="one_quarter first">
        <article><a href="#"><i class="icon btmspace-30 fa fa-ioxhost"></i></a>
          <h6 class="heading font-x1">SHOES</h6>
          <p>CHOOSE FROM THE COLLECTION OF BRANDED SHOES FROM OUR PARTNERS</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-yelp"></i></a>
          <h6 class="heading font-x1">MAKEUP</h6>
          <p>YEAH WE KNOW WHAT THE GIRLS LIKE CHOOSE FROM THE BRANDED MAKEUP KITS </p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-google-wallet"></i></a>
          <h6 class="heading font-x1">WATCHES</h6>
          <p>PREMIUM WATCHES CHECK OUT OUR COLLECTION</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-ils"></i></a>
          <h6 class="heading font-x1">PERFUME</h6>
          <p>WE WANT U TO SMEEL GOOD HERE IS OUR COLLECTION FOR U</p>
        </article>
      </li>
    </ul>
  </section>
</div>



<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <h2>images</h2>
      <!-- ################################################################################################ -->
      <div class="group btmspace-50 demo">
        <div class="one_half first" data-toggle="modal" data-target="#myModal3"></div>
        <div class="one_half" data-toggle="modal" data-target="#myModal3"></div>
      </div>
      <!-- ################################################################################################ -->
      <h2>From</h2>
      <!-- ################################################################################################ -->
      <div class="group btmspace-50 demo">
        <div class="one_quarter first" data-toggle="modal" data-target="#myModal3"></div>
        <div class="one_quarter" data-toggle="modal" data-target="#myModal3"></div>
        <div class="one_quarter" data-toggle="modal" data-target="#myModal3"></div>
        <div class="one_quarter" data-toggle="modal" data-target="#myModal3"></div>
      </div>
      <div class="group btmspace-50 demo">
        <div class="one_quarter first" data-toggle="modal" data-target="#myModal3"> </div>
        <div class="one_quarter" data-toggle="modal" data-target="#myModal3"></div>
        <div class="two_quarter" data-toggle="modal" data-target="#myModal3"></div>
      </div>
      <div class="group btmspace-50 demo">
        <div class="one_quarter first" data-toggle="modal" data-target="#myModal3"></div>
        <div class="three_quarter" data-toggle="modal" data-target="#myModal3"></div>
      </div>
      <!-- ################################################################################################ -->
      <h2>i REPEAT </h2>
      <!-- ################################################################################################ -->
      <div class="group btmspace-50 demo">
        <div class="one_third first" data-toggle="modal" data-target="#myModal3"></div>
        <div class="one_third" data-toggle="modal" data-target="#myModal3"></div>
        <div class="one_third" data-toggle="modal" data-target="#myModal3"></div>
      </div>
      <div class="group demo">
        <div class="one_third first" data-toggle="modal" data-target="#myModal3"></div>
        <div class="two_third" data-toggle="modal" data-target="#myModal3"></div>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>




<div class="wrapper row3">
  <section class="hoc container clear"> 
    <div class="sectiontitle">
      <h6 class="heading">NEW HERE?</h6>
      <p>NO PROBLEM WE WILL WALK YOU THROUH</p>
    </div>
    <ul class="nospace group services">
      <li class="one_quarter first">
        <article class="inverse"><a href="#"><i class="fa fa-3x fa-houzz"></i></a>
          <h6 class="heading font-x1"><a href="#">choose </a></h6>
          <p> Choose the product you want from our latest range of products you can vote at our voting section for amazing deals on certain items.. </p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="fa fa-3x fa-weibo"></i></a>
          <h6 class="heading font-x1"><a href="#">vote</a></h6>
          <p>You can participate on voting platform to get amazing deals directly from the dealer , at an amazing discount so hurry..</p>
        </article>
      </li>
      <li class="one_quarter">
        <article class="inverse"><a href="#"><i class="fa fa-3x fa-wheelchair-alt"></i></a>
          <h6 class="heading font-x1"><a href="#">rush</a></h6>
          <p>Rush to buy the drops, they dont last forever. the deals is only awailabe for a limited period of time or days.. so hurry ...</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="fa fa-3x fa-viacoin"></i></a>
          <h6 class="heading font-x1"><a href="#">clebrate</a></h6>
          <p>Celebrate the product and our amazing support that comes free with it want to return and exchage no problem we are a call away</p>
        </article>
      </li>
    </ul>
    
  </section>
</div>


<div class="wrapper row4 bgded overlay" style="background-color: black;">
  <footer id="footer" class="hoc clear" > 
    <div class="one_third first">
      <h6 class="heading">YE TOUCH MAT KARNA ISKE LIYE BAAD MAIN BATATA HU</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li>
          
        </li>
        <li>aa</li>
        <li>aa</li>
        <li>aa</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">GET UPDATES</h6>
      <p class="nospace btmspace-30">SUBSCRIBE TO OUR NEWSLETTER BY FILLING THE LINK BELOW </p>
  
         <!--  isse bhi deekh lena working hona cahiye user ek baar main sabko loveletter bhej sake  -->

      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="one_third">
      <h6 class="heading">Locate us</h6>
      <figure><a href="#"><img class="borderedbox inspace-10 btmspace-15" src="map" alt=""></a>
        <figcaption>
          <h6 class="nospace font-x1"><a href="#">MAP LAGANA HAI YAHA LAGAUNGA BAADME AISE HI CHOOD DENA ISSE</a></h6>
        
        </figcaption>
      </figure>
    </div>
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">DEALHOUSE</a></p>
   
  </div>
</div>

<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Open Modal</button>-->


<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>


  


<!-- end modal -->
<script src="lft/scripts/jquery.min.js"></script>
<script src="lft/scripts/jquery.backtotop.js"></script>
<script src="lft/scripts/jquery.mobilemenu.js"></script>
 
 <script type="text/javascript">
   module.exports = function(grunt) {

  // Config
  grunt.initConfig({
    pkg: grunt.file.readJSON('package.json'),

    jshint: {
      options: {
        reporter: require('jshint-stylish')
      },
      dist: {
        files: {
          src: ['ideal-image-slider.js']
        }
      },
      extensions: {
        files: {
          src: ['extensions/**/*.js']
        }
      }
    },

    uglify: {
      options: {
        banner: '/*! Ideal Image Slider v<%= pkg.version %> */\n'
      },
      dist: {
        files: {
          'ideal-image-slider.min.js': 'ideal-image-slider.js'
        }
      }
    },

    'string-replace': {
      version: {
        options: {
          replacements: [{
            pattern: /(v\d+.\d+.\d+)/,
            replacement: 'v<%= pkg.version %>'
          }]
        },
        files: {
          'ideal-image-slider.js': 'ideal-image-slider.js',
          'ideal-image-slider.css': 'ideal-image-slider.css'
        }
      }
    },

    qunit: {
      all: ['tests/**/*.html']
    },

    watch: {
      options: {
        livereload: true
      },
      dist: {
        files: ['ideal-image-slider.js'],
        tasks: ['jshint:dist','uglify','string-replace'],
        options: {
          spawn: false,
        }
      },
      extensions: {
        files: ['extensions/**/*.js'],
        tasks: ['jshint:extensions'],
        options: {
          spawn: false,
        }
      }
    }

  });

  // Plugins
  require('load-grunt-tasks')(grunt);
  grunt.registerTask('forceOn', 'turns the --force option ON', function(){
    if ( !grunt.option( 'force' ) ) {
      grunt.config.set('forceStatus', true);
      grunt.option( 'force', true );
    }
  });
  grunt.registerTask('forceOff', 'turns the --force option OFF', function(){
    if ( grunt.config.get('forceStatus') ) {
      grunt.config.set('forceStatus', false);
      grunt.option( 'force', false );
    }
  });

  // Tasks
  grunt.registerTask('default', [
    'jshint',
    'uglify',
    'string-replace',
    'watch'
  ]);

  grunt.registerTask('test', ['qunit']);

};

   
 </script>
</body>
</html>




<!-- sun bhai aaisa kar last main 2-3 model classs defined hai so do one thing (data-toggle="modal" data-target="#myModal1") is cheez ko harek k andar daal de for example jaisa maine top nav menu k saath kia haiaur ahacker ko bol dena saari images usi format main aani chahiye  

aur waise deekh jo pading hai galley k andar sai lag rahi hai nai to us padding ko bhi remove kar dena baaki hacker k saath deekh le tu main admin page and all kar raha hu usme tym zada lagega ye saala 2 din se kuch nai kia iss liye tujhe bhej raha hu ok -->